<body class="color">

 
    <h1 class="titulo_pretacion text-center my-3">Provincias</h1>

    <!-- Button trigger modal -->
  <div class="boton-container_servicio">
      <button type="button" class="btn10" data-bs-toggle="modal" data-bs-target="#ModalProvincia">
        <div class="sign">+</div>
        <div class="text">Agregar</div>
      </button>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="ModalProvincia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalTitulo"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">

            <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping"></span>
              <input type="hidden" id="ProvinciaID" value="0">
              <label for="nombreProvincia" class="form-label">Nombre de Provincia</label>

              <input type="text" class="form-control" id="nombreProvincia" placeholder="Nombre del tipo de actividad">
            </div>


          </div>
          <div class="modal-footer">
            <button type="button" onclick="LimpiarModal();" class="btn btn-secondary"
              data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-primary" id="btnGuardarProvincia"
              onclick="GuardarProvincia()">Guardar</button>
          </div>
        </div>
      </div>
    </div>






<div class="table-container_localidad">
    <div class="tbl-administracion" style="overflow: hidden; border-radius: 20px;">
      <div class="table-responsive">
      <table class="table table-hover table-striped" style="border-radius: 20px; overflow: hidden; width: 100%;">
        <thead>
          <tr>
            <th style="width: px; background-color: #cbc5ee;">Nombre</th>
            <th style="width: px; background-color: #cbc5ee;">Editar</th>
            <th style="width: px; background-color: #cbc5ee;">Eliminar</th>
          </tr>
        </thead>
        <tbody id="tbody-Provincias"></tbody>
      </table>
      </div>
    </div>

</div>
  </section>


  @section Scripts {

    <script src="~/js/Provincia.1.0.0.js"></script>
  }






</body>