@page
@model AccessDeniedModel
@{
  
}

<header>
    <h1 class="titulo_denegado text-center my-3 "><i class="fa-solid fa-ban"></i> Acesso denegado <i class="fa-solid fa-ban"></i></h1>
  <h2 class=" text-center my-3 text-danger ">No puede acceder a esta seccion por los siguientes motivos</h2>
    <p class="text-danger  text-center my-3 "> <br>
       🚫  Tu cuenta fue desactivada debido a publicaciones que podrían herir la sensibilidad de otros usuarios. Nos preocupamos por mantener un ambiente respetuoso para todos. 🌟 <br>
🚫  Detectamos publicaciones que podrían incitar a la violencia. En Postulate.com promovemos el respeto y la convivencia. 💬 <br>
🚫  Observamos datos inadecuados en tus publicaciones. Queremos garantizar información precisa y relevante para todos los usuarios. ✅ <br>
        ⚠️ no completo el formulario de ingreso, sindo este el caso corrobora en la seccion inicio </p>
</header>
